.vscode/**
.vscode-test/**
logs/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/tsconfig.json
**/.eslintrc.js
**/.eslintignore
**/.prettierrc
**/.prettierignore
**/.editorconfig
**/tslint.json
**/*.vsix
.github/**
docs/**
images/**
**/*.ts
!rsm-vscode.jpg 